<div class="row justify-content-between my-3">
  <div class="col-md text-start">
    <h6>{{oPage.strFilteredMessage}}</h6>
  </div>
  <div class="col-md text-center">
    <app-search-unrouted [strFilter]="oPage.strFilter"
      [strTitlePlural]="'Filtro de ' + oMetadataService.getName(strEntity+'s').toLowerCase()"
      (eeFilter)="onSetFilter($event)"></app-search-unrouted>
  </div>
  <div class="col-md text-end">
    <h4 class="text-muted">{{oPage.totalElements| number:'1.0-0'}} {{oMetadataService.getName(strEntity+'s')}}</h4>
  </div>
</div>

<div class="row justify-content-between">
  <div class="col-md text-start">
    <app-pagination-unrouted [nPage]="oPage.number + 1" [nTotalPages]="oPage.totalPages" (eePage)="onSetPage($event)">
    </app-pagination-unrouted>
  </div>
  <div class="col-md text-center">
    <ng-content select="header"></ng-content>
  </div>
  <div class="col-md text-end">
    <app-rpp-unrouted [nPageSize]="oPage.size" (eeRpp)="onSetRpp($event)"></app-rpp-unrouted>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md table-responsive-md">

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="text-center align-middle" app-usuario-plistheader-admin-unrouted (sort)="onSetOrder($event)">
          <div action_column_title>
            <i [ngClass]="oMetadataService.getIcon('acciones')"></i> {{oMetadataService.getName('actions')}}
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oUsuarioRow of oPage.content" class="align-middle" app-usuario-plistrow-admin-unrouted
          [oUsuario]="oUsuarioRow" [mode]="true">

          <div action_column>
            <div class="btn-group btn-group-sm" role="group" app-plistrowbuttons-unrouted [id]="oUsuarioRow.id"
              [strEntity]="strEntity" [strProfile]="strProfile">
              <button type="button" class="btn btn-secondary" (click)="flipValidateUser(oUsuarioRow.id)"><i
                  [ngClass]="oMetadataService.getIcon('validado')"></i></button>
              <button type="button" class="btn btn-secondary" (click)="flipActivateUser(oUsuarioRow.id)"><i
                  [ngClass]="oMetadataService.getIcon('activado')"></i></button>
            </div>
          </div>
        </tr>

      </tbody>
    </table>

  </div>
</div>