<div class="row justify-content-between my-3">
  <div class="col-md text-start">
    <h6>{{strFilteredMessage}}</h6>
  </div>
  <div class="col-md text-center">
    <app-search-unrouted [strFilter]="strFilter" [strTitlePlural]="'Filtro de ' + strTitlePlural" (eeFilter)="onSetFilter($event)" ></app-search-unrouted>
  </div>
  <div class="col-md text-end">
    <h4 class="text-muted">{{nTotalElements| number:'1.0-0'}} {{strTitlePlural}}</h4>
  </div>
</div>

<div class="row justify-content-between">
  <div class="col-md text-start">
    <app-pagination-unrouted [nPage]="nPage" [nTotalPages]="nTotalPages" (eePage)="onSetPage($event)" ></app-pagination-unrouted>
  </div>
  <div class="col-md text-center">
    <ng-content select="header"></ng-content>
  </div>
  <div class="col-md text-end">
    <app-rpp-unrouted [nPageSize]="nPageSize" (eeRpp)="onSetRpp($event)"></app-rpp-unrouted>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md table-responsive-md">

    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="text-center align-middle" app-usuario-plistheader-admin-unrouted (sort)="onSetOrder($event)">
          <div action_column_title>
            <i [ngClass]="oMetadataService.getIcon('acciones')"></i> Acciones
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oUsuarioRow of aUsuarios" class="align-middle" app-usuario-plistrow-admin-unrouted [oUsuario]="oUsuarioRow"
        [mode]="true">
      </tbody>
    </table>

  </div>
</div>