<app-menu></app-menu>
<div class="container my-3">
  <app-header [title]="'Listado de ' + strTitlePlural" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)" [filter]="strFilteredMessage"
    [subtitle]="nTotalElements + ' Productos en ' + strTitlePlural">
  </app-header>

  <div class="row justify-content-center my-3">
    <div class="col-12 d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
      <form style="width: 15em">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i [ngClass]="oIconService.getIcon('filtro')"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="{{ 'Filtro de ' + strTitlePlural }}" placeholder="Search"
            (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm" />
        </div>
      </form>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md">
      <nav aria-label="pagination">
        <ul class="pagination">
          <li class="page-item" aria-current="page" *ngFor="let p of aPaginationBar"
            [ngClass]="{ active: nPage + '' == p }">
            <a class="page-link" (click)="nPage = +p; jumpToPage()" href="#">{{
              p
              }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md text-center">
      <a [routerLink]="['/carrito/new/']" type="button" class="btn btn-success mb-2">
        <i [ngClass]="oIconService.getIcon('new')"></i> Añadir nuevo
        {{ strTitleSingular }}
      </a>
    </div>
    <div class="col-md text-end">
      <div class="dropdown mb-3">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i [ngClass]="oIconService.getIcon('rpp')"></i> Registros por página:
          {{ nPageSize }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" (click)="nPageSize = 10; getPage()">10</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="nPageSize = 50; getPage()">50</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="nPageSize = 100; getPage()">100</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="nPageSize = 1000; getPage()">1000</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md table-responsive-md">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr class="text-center align-middle">
            <th (click)="doSetOrder('id')">
              <i [ngClass]="oIconService.getIcon('id')"></i> ID
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField == 'id' && strSortDirection == 'asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField == 'id' && strSortDirection == 'desc'"></i>
            </th>
            <th (click)="doSetOrder('cantidad')">
              <i [ngClass]="oIconService.getIcon('cantidad')"></i> Cantidad
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField == 'cantidad' && strSortDirection == 'asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField == 'cantidad' && strSortDirection == 'desc'"></i>
            </th>
            <th (click)="doSetOrder('precio')">
              <i [ngClass]="oIconService.getIcon('euro')"></i> Precio
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField == 'precio' && strSortDirection == 'asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField == 'precio' && strSortDirection == 'desc'"></i>
            </th>
            <th (click)="doSetOrder('producto')">
              <i [ngClass]="oIconService.getIcon('producto')"></i> Producto
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField == 'producto' && strSortDirection == 'asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField == 'producto' && strSortDirection == 'desc'"></i>
            </th>
            <th (click)="doSetOrder('usuario')">
              <i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario
              <i [ngClass]="oIconService.getIcon('flechaUp')"
                *ngIf="strSortField == 'usuario' && strSortDirection == 'asc'"></i>
              <i [ngClass]="oIconService.getIcon('flechaDown')"
                *ngIf="strSortField == 'usuario' && strSortDirection == 'desc'"></i>
            </th>
            <th>
              <i [ngClass]="oIconService.getIcon('acciones')"></i> Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of aCarritos">
            <td class="text-end">{{ fila.id }}</td>
            <td class="text-center">{{ fila.cantidad }}</td>
            <td class="text-end">{{ fila.precio }}€</td>
            <td>
              <button class="btn btn-light btn-sm"
                [routerLink]="['/carrito/plist/producto/' + fila.producto.id]">
                <i [ngClass]="oIconService.getIcon('producto')"></i> ({{
                fila.producto.id
                }}) {{ fila.producto.nombre | trim :60}}</button>                
            </td>
            <td>
              <button class="btn btn-light btn-sm"
                [routerLink]="['/carrito/plist/usuario/' + fila.usuario.id]">
                <i [ngClass]="oIconService.getIcon('usuario')"></i> ({{
                fila.usuario.id
                }}) {{ fila.usuario.nombre + " "+fila.usuario.apellido1+" "+fila.usuario.apellido2 | trim:50 }}
              </button>
            </td>

            <td class="text-center">
              <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success" [routerLink]="['/carrito/view/' + fila.id]">
                  <i [ngClass]="oIconService.getIcon('view')"></i>
                </button>

                <button type="button" class="btn btn-warning" [routerLink]="['/carrito/edit/' + fila.id]">
                  <i [ngClass]="oIconService.getIcon('edit')"></i>
                </button>
                <button type="button" class="btn btn-danger" [routerLink]="['/carrito/remove/' + fila.id]">
                  <i [ngClass]="oIconService.getIcon('remove')"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-footer></app-footer>