<app-menu></app-menu>

<div class="container my-3">
  <app-header
    [title]="'Edición de ' + strTitleSingular"
    [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)"
  >
  </app-header>

  <div class="row justify-content-center">
    <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="cantidad" class="col-sm-2 col-form-label">Cantidad</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="cantidad"
            formControlName="cantidad"
            [ngClass]="{
              'is-valid': f.cantidad.valid,
              'is-invalid': f.cantidad.invalid
            }"
          />
          <div *ngIf="f.cantidad.invalid" class="text-danger">
            Se debe introducir una cantidad
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="precio" class="col-sm-2 col-form-label">Precio</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="precio"
            formControlName="precio"
            [ngClass]="{
              'is-valid': f.precio.valid,
              'is-invalid': f.precio.invalid
            }"
          />
          <div *ngIf="f.precio.invalid" class="text-danger">
            Se debe introducir un precio
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="producto" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('producto')"></i> Producto</label
        >
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="producto"
            formControlName="producto"
            [ngClass]="{
              'is-valid': f.producto.valid,
              'is-invalid': f.producto.invalid
            }"
          />
          <div *ngIf="f.producto.invalid" class="text-danger">
            Se debe introducir un id de producto
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="usuario" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario</label
        >
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            id="usuario"
            formControlName="usuario"
            [ngClass]="{
              'is-valid': f.usuario.valid,
              'is-invalid': f.usuario.invalid
            }"
          />
          <div *ngIf="f.usuario.invalid" class="text-danger">
            Se debe introducir un id de usuario
          </div>
        </div>
      </div>

      <div class="row mb-3 justify-content-center">
        <div
          class="
            d-grid
            gap-2
            d-md-block
            mt-3
            d-md-flex
            justify-content-md-center
          "
        >
          <button
            type="submit"
            class="btn btn-warning"
            [disabled]="oForm.invalid || oForm.pristine"
          >
            <i [ngClass]="oIconService.getIcon('ok')"></i> Crear el
            {{ strTitleSingular }}
          </button>
        </div>
      </div>
    </form>

    <div
      class="
        d-grid
        gap-2
        d-md-block
        mt-3
        d-md-flex
        justify-content-md-center
        mt-5
      "
    >
      <a class="btn btn-primary mx-2" [routerLink]="['/home']"
        ><i [ngClass]="oIconService.getIcon('home')"></i> Página principal</a
      >
      <a
        class="btn btn-primary mx-2"
        [routerLink]="['/' + strEntity + '/plist']"
        ><i [ngClass]="oIconService.getIcon('plist')"></i> Listado de
        {{ strTitlePlural }}</a
      >
      <a class="btn btn-primary mx-2" (click)="goBack()"
        ><i [ngClass]="oIconService.getIcon('volver')"></i> Volver
      </a>
    </div>
  </div>
</div>

<app-footer></app-footer>

<app-modal
  [show]="eventsModalSubject.asObservable()"
  [body]="strResult"
  (close)="closeModal()"
>
</app-modal>
