<app-menu></app-menu>

<div class="container my-3">

    <app-header [title]="'Borrado de un Post'" [icon]="'fas fa-trash'"></app-header>

    <div class="row justify-content-center">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{oPost?.id}}</td>
                </tr>
                <tr>
                    <th>Título</th>
                    <td>{{oPost?.titulo}}</td>
                </tr>
                <tr>
                    <th>Cuerpo</th>
                    <td>{{oPost?.cuerpo}}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{{oPost?.fecha | showDateTime}}</td>
                </tr>
                <tr>
                    <th>Etiquetas</th>
                    <td>{{oPost?.etiquetas}}</td>
                </tr>
                <tr>
                    <th>Visible</th>
                    <td [innerHTML]="oPost?.visible | showBoolean"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5 control-group text-center my-3">
            <div class="alert alert-danger my-3" role="alert">
                <h3 class="">¿Está seguro de que quiere eliminar el post?</h3>
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center my-4">
                    <a class="btn btn-danger mx-2" (click)="removeOne()"><i class="fas fa-trash"></i> SÍ</a>
                    <a class="btn btn-success mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> NO </a>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
            <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Página
                principal</a>
            <a class="btn btn-primary mx-2" [routerLink]="['/plist']"><i class="fas fa-file-alt"></i> Listado de
                Posts</a>
            <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
        </div>

    </div>
</div>

<app-footer></app-footer>

<app-modal [show]="eventsSubject.asObservable()" [body]="strResult" (close)="closeModal()"> </app-modal>