<app-menu-unrouted></app-menu-unrouted>
<div class="container my-3">
  <app-header  [title]="oMetadataService.getName('product type edition')"
    [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
  </app-header>
  <div class="row justify-content-center">
    <app-tipoproducto-form-admin-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
    </app-tipoproducto-form-admin-unrouted>
    <app-footerbuttons-unrouted [strEntity]="strEntity"></app-footerbuttons-unrouted>
  </div>
</div>
<app-footer></app-footer>
<app-popup [show]="eventsSubjectShowPopup.asObservable()" (close)="onClosePopup()"></app-popup>