<div class="row justify-content-between my-3">
  <div class="row justify-content-between my-3">
    <div class="col-md text-start">
      <h6>{{strFilteredMessage}}</h6>
    </div>
    <div class="col-md text-center">
      <app-search-unrouted [strFilter]="strFilter"
        [strTitlePlural]="'Filtro de ' + oMetadataService.getName(strEntity+'s').toLowerCase()"
        (eeFilter)="onSetFilter($event)"></app-search-unrouted>
    </div>
    <div class="col-md text-end">
      <h4 class="text-muted">{{nTotalElements| number:'1.0-0'}} {{oMetadataService.getName(strEntity+'s')}}
      </h4>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md text-start">
      <app-pagination-unrouted [nPage]="nPage" [nTotalPages]="nTotalPages" (eePage)="onSetPage($event)">
      </app-pagination-unrouted>
    </div>
    <div class="col-md text-center">
      <ng-content select="header"></ng-content>
    </div>
    <div class="col-md text-end">
      <app-rpp-unrouted [nPageSize]="nPageSize" (eeRpp)="onSetRpp($event)"></app-rpp-unrouted>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md table-responsive-md">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr class="text-center align-middle" app-tipoproducto-plistheader-admin-unrouted (sort)="onSetOrder($event)"
            [mode]="false">
            <div action_column_title>
              <i [ngClass]="oMetadataService.getIcon('selection')"></i> {{oMetadataService.getName('select a product type')}}
            </div>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let oTipoproductoRow of aTipoproductos" class="align-middle"
            app-tipoproducto-plistrow-admin-unrouted [oTipoproducto]="oTipoproductoRow" [mode]="false"
            (selection)="onSelection($event)">
            <div action_column>
              <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-success" (click)="onSelection(oTipoproductoRow.id)"><i
                    class="fas fa-check"></i></button>
              </div>
            </div>

          </tr>
        </tbody>
      </table>
    </div>
  </div>