<div class="row justify-content-between my-3">
  <div class="col-md text-start">
    <h6>{{ strFilteredMessage }}</h6>
  </div>
  <div class="col-md text-center">
    <form>
      <div class="input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i [ngClass]="oIconService.getIcon('filtro')"></i></span>
        </div>
        <input type="text" class="form-control" placeholder="{{ 'Filtro de ' + strTitlePlural }}" placeholder="Search"
          (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar" aria-label="Small"
          aria-describedby="inputGroup-sizing-sm" />
      </div>
    </form>
  </div>
  <div class="col-md text-end">
    <h4 class="text-muted">{{ nTotalElements }} {{ strTitlePlural }}</h4>
  </div>
</div>

<div class="row justify-content-between">
  <div class="col-md text-start">
    <nav aria-label="pagination">
      <ul class="pagination">
        <li class="page-item" aria-current="page" *ngFor="let p of aPaginationBar"
          [ngClass]="{ active: nPage + '' == p }">
          <a class="page-link" (click)="nPage = +p; jumpToPage()" href="#">{{p}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-md text-center">
    <ng-content select="header"></ng-content>
  </div>

  <div class="col-md text-end">
    <div class="dropdown mb-3">
      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Registros por página: {{ nPageSize }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" (click)="nPageSize = 10; getPage()">10</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="nPageSize = 50; getPage()">50</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="nPageSize = 100; getPage()">100</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="nPageSize = 1000; getPage()">1000</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md table-responsive-md">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="text-center align-middle">
          <th (click)="doSetOrder('id')">
            <i [ngClass]="oIconService.getIcon('id')"></i> ID
            <i class="fas fa-arrow-up" *ngIf="strSortField == 'id' && strSortDirection == 'asc'"></i>
            <i class="fas fa-arrow-down" *ngIf="strSortField == 'id' && strSortDirection == 'desc'"></i>
          </th>
          <th (click)="doSetOrder('nombre')">
            <i [ngClass]="oIconService.getIcon('nombre')"></i> Nombre
            <i class="fas fa-arrow-up" *ngIf="strSortField == 'nombre' && strSortDirection == 'asc'"></i>
            <i class="fas fa-arrow-down" *ngIf="strSortField == 'nombre' && strSortDirection == 'desc'"></i>
          </th>
          <th *ngIf="mode">
            <i [ngClass]="oIconService.getIcon('nombre')"></i> Productos
          </th>
          <th><i [ngClass]="oIconService.getIcon('acciones')"></i> Acciones</th>
        </tr>
      </thead>
      <tbody>
    

          <tr *ngFor="let oTipoproducto of aTipoproductos" class="align-middle" app-tipoproducto-plistrow-unrouted [oTipoproducto]="oTipoproducto"
          [mode]="mode" (selection)="onSelection($event)">
          
        </tr>
      </tbody>
    </table>
  </div>
</div>