<th (click)="doSetOrder('id')"> <i [ngClass]="oMetadataService.getIcon('id')"></i>
  {{oMetadataService.getName('ID')}}
  <i class="fas fa-arrow-up" *ngIf="strSortField=='id'&&strSortDirection=='asc'"></i>
  <i class="fas fa-arrow-down" *ngIf="strSortField=='id'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('iva')"><i [ngClass]="oMetadataService.getIcon('porcentaje')"></i>
  {{oMetadataService.getName('VAT')}}
  <i class="fas fa-arrow-up" *ngIf="strSortField=='iva'&&strSortDirection=='asc'"></i>
  <i class="fas fa-arrow-down" *ngIf="strSortField=='iva'&&strSortDirection=='desc'"></i>

</th>
<th (click)="doSetOrder('fecha')"><i [ngClass]="oMetadataService.getIcon('fecha')"></i>
  {{oMetadataService.getName('date')}}
  <i class="fas fa-arrow-up" *ngIf="strSortField=='fecha'&&strSortDirection=='asc'"></i>
  <i class="fas fa-arrow-down" *ngIf="strSortField=='fecha'&&strSortDirection=='desc'"></i>

</th>
<th (click)="doSetOrder('compra')"><i [ngClass]="oMetadataService.getIcon('compra')"></i>
  {{oMetadataService.getName('invoiceLines')}}
  <i class="fas fa-arrow-up" *ngIf="strSortField=='pagado'&&strSortDirection=='asc'"></i>
  <i class="fas fa-arrow-down" *ngIf="strSortField=='pagado'&&strSortDirection=='desc'"></i>

</th>

<th>
  <i [ngClass]="oMetadataService.getIcon('total')"></i>
  {{oMetadataService.getName('totalDiscountsIncluded')}}  
</th>

<th>
  <i [ngClass]="oMetadataService.getIcon('total')"></i>
  {{oMetadataService.getName('VAT')}}
</th>

<th>
  <i [ngClass]="oMetadataService.getIcon('total')"></i>
  {{oMetadataService.getName('totalVATIncluded')}}
</th>

<th (click)="doSetOrder('pagado')"><i [ngClass]="oMetadataService.getIcon('euro')"></i>
  {{oMetadataService.getName('paid?')}}
  <i class="fas fa-arrow-up" *ngIf="strSortField=='pagado'&&strSortDirection=='asc'"></i>
  <i class="fas fa-arrow-down" *ngIf="strSortField=='pagado'&&strSortDirection=='desc'"></i>

</th>
<th>
  <ng-content select="[action_column_title]"></ng-content>
</th>