<div class="container my-3">
  <app-shared-header-unrouted  [title]="oMetadataService.getName('invoice edition')"
    [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
  </app-shared-header-unrouted>
  <div class="row justify-content-center">
    <app-factura-form-admin-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
    </app-factura-form-admin-unrouted>
    <app-shared-footerbuttons-unrouted [strEntity]="strEntity"></app-shared-footerbuttons-unrouted>
  </div>
</div>
<app-shared-popup-unrouted [show]="eventsSubjectShowPopup.asObservable()" (close)="onClosePopup()"></app-shared-popup-unrouted>