<div class="container my-3">

    <app-header [title]="'Nuevo Post'" [icon]="'fas fa-plus'"></app-header>

    <div class="row justify-content-center">

        <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <label for="codigo" class="col-sm-2 col-form-label">Código</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="codigo" formControlName="codigo"
                        [ngClass]="{'is-valid' : f.codigo.dirty && !(f.codigo.errors?.required || f.codigo.errors?.minlength) }">
                    <div *ngIf="f.codigo.dirty && f.codigo.errors?.required" class="text-danger">
                        Se debe introducir un código
                    </div>
                    <div *ngIf="f.codigo.dirty && f.codigo.errors?.minlength" class="text-danger">
                        El código introducido es demasiado corto
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="nombre" rows="3" formControlName="nombre"
                        [ngClass]="{'is-valid' : f.nombre.dirty && !(f.nombre.errors?.required) }"></textarea>
                    <div *ngIf="f.nombre.dirty && f.nombre.errors?.required" class="text-danger">
                        Se debe introducir un nombre
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label for="existencias" class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-10">
                    <input type="text" name="existencias" id="existencias" formControlName="existencias"
                        class="text ui-widget-content ui-corner-all" />

                </div>
            </div>

            <div class="row mb-3">
                <label for="precio" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="precio" formControlName="precio"
                        [ngClass]="{'is-valid' : f.precio.dirty && !(f.precio.errors?.required) }">
                    <div *ngIf="f.precio.dirty && f.precio.errors?.required" class="text-danger">
                        Se debe introducir al menos un precio
                    </div>
                </div>
            </div>



            <div class="row mb-3">
                <label for="imagen" class="col-sm-2 col-form-label">imagen</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="imagen" formControlName="imagen"
                        [ngClass]="{'is-valid' : f.imagen.dirty && !(f.imagen.errors?.required) }">

                </div>
            </div>

            <div class="row mb-3">
                <label for="descuento" class="col-sm-2 col-form-label">descuento</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="descuento" formControlName="descuento"
                        [ngClass]="{'is-valid' : f.descuento.dirty && !(f.descuento.errors?.required) }">

                </div>
            </div>



            <div class="row mb-3">
                <label for="id_tipoproducto" class="col-sm-2 col-form-label">id_tipoproducto</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="id_tipoproducto" formControlName="id_tipoproducto"
                        [ngClass]="{'is-valid' : f.id_tipoproducto.dirty && !(f.id_tipoproducto.errors?.required) }">
                    <div *ngIf="f.id_tipoproducto.dirty && f.id_tipoproducto.errors?.required" class="text-danger">
                        Se debe introducir al menos un id_tipoproducto
                    </div>
                </div>
            </div>

            <div class="row mb-3 justify-content-center">
                <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-warning" [disabled]="oForm.invalid || oForm.pristine">Crear
                        nuevo Post</button>
                </div>
            </div>

        </form>

        <div class="control-group text-center mt-5">
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
                <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Página
                    principal</a>
                <a class="btn btn-primary mx-2" [routerLink]="['/producto/plist']"><i class="fas fa-file-alt"></i>
                    Listado de
                    Productos</a>
                <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver </a>
            </div>
        </div>

    </div>
</div>

<app-footer></app-footer>

<app-modal [show]="eventsSubject.asObservable()" [body]="strResult" (close)="closeModal()"> </app-modal>