<app-menu></app-menu>

<div class="container my-3">

    <app-header [title]="'Listado de ' + strTitlePlural" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)" [filter]="strFilteredMessage"
    [subtitle]="nTotalElements + ' ' + strTitlePlural">
    </app-header>

    <div class="row justify-content-center my-3">
        <div class="col-12 d-grid gap-2 d-md-block d-md-flex justify-content-md-center">
          <form style="width: 15em;">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i [ngClass]="oIconService.getIcon('filtro')"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="{{'Filtro de ' + strTitlePlural}}" placeholder="Search"
                (keyup)="onKeyUpFilter($event)" [(ngModel)]="strFilter" name="buscar" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm" />
            </div>
          </form>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-md">
          <nav aria-label="pagination">
            <ul class="pagination">
              <li class="page-item" aria-current="page" *ngFor="let p of aPaginationBar"
                [ngClass]="{'active': (nPage+'' == p)}">
                <a class="page-link" (click)="nPage=(+p);jumpToPage()" href="#">{{p}}</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md text-center">
          <a [routerLink]="['/compra/new/']" type="button" class="btn btn-success mb-2">
            <i [ngClass]="oIconService.getIcon('new')"></i> Añadir nuevo {{strTitleSingular}}
          </a>
        </div>
        <div class="col-md text-end">
          <div class="dropdown mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
              aria-expanded="false"><i [ngClass]="oIconService.getIcon('rpp')"></i>
              Registros por página: {{nPageSize}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" (click)="nPageSize=10;getPage()">10</a></li>
              <li><a class="dropdown-item" (click)="nPageSize=50;getPage()">50</a></li>
              <li><a class="dropdown-item" (click)="nPageSize=100;getPage()">100</a></li>
              <li><a class="dropdown-item" (click)="nPageSize=1000;getPage()">1000</a></li>
            </ul>
          </div>
        </div>
      </div>

    <div class="row justify-content-center">
        <div class="col-md table-responsive-md">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th (click)="doSetOrder('id')"><i [ngClass]="oIconService.getIcon('id')"></i> ID
                            <i [ngClass]="oIconService.getIcon('flechaUp')" *ngIf="strSortField=='id'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                            *ngIf="strSortField=='id'&&strSortDirection=='desc'"></i>
                        </th>
                        <th (click)="doSetOrder('cantidad')">Cantidad
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='cantidad'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='cantidad'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('precio')">Precio
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='precio'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='precio'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('fecha')">Fecha
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='fecha'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='fecha'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('descuento_usuario')">Descuento usuario
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='descuento_usuario'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='descuento_usuario'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('descuento_producto')">Descuento producto
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='descuento_producto'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='descuento_producto'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('producto')">Id producto
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='id_producto'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='id_producto'&&strSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('factura')">Id factura
                            <i [ngClass]="oIconService.getIcon('flechaUp')"
                                *ngIf="strSortField=='id_factura'&&strSortDirection=='asc'"></i>
                            <i [ngClass]="oIconService.getIcon('flechaDown')"
                                *ngIf="strSortField=='id_factura'&&strSortDirection=='desc'"></i>

                        </th>
                        <th>Acciones <i [ngClass]="oIconService.getIcon('acciones')"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of aCompras">
                        <td>{{fila.id}}</td>
                        <td>{{fila.cantidad}}</td>
                        <td>{{fila.precio}}</td>
                        <td>{{fila.fecha }}</td>
                        <td>{{fila.descuento_usuario}}</td>
                        <td>{{fila.descuento_producto}}</td>
                        <td>
                          <a style="text-decoration:none" [routerLink]="['/compra/plist/producto/' + fila.producto.id]">
                            <i [ngClass]="oIconService.getIcon('producto')"></i> ({{fila.producto.id}})
                            {{fila.producto.nombre | trim}}</a>
                        </td>
                        <td>
                          <a style="text-decoration:none" [routerLink]="['/compra/plist/factura/' + fila.factura.id]">
                            <i [ngClass]="oIconService.getIcon('factura')"></i> ({{fila.factura.id}})
                            {{fila.factura.id | trim}}</a>
                        </td>

                        

                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-success" [routerLink]="['/compra/view/' + fila.id]"><i
                                    [ngClass]="oIconService.getIcon('view')"></i></button>
                                <button type="button" class="btn btn-warning" [routerLink]="['/compra/edit/' + fila.id]"><i
                                    [ngClass]="oIconService.getIcon('edit')"></i></button>
                                <button type="button" class="btn btn-danger" [routerLink]="['/compra/remove/' + fila.id]"><i
                                    [ngClass]="oIconService.getIcon('remove')"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>