<table class="table table-striped" *ngIf="status==null">
    <tbody>
        <tr>
            <th><i [ngClass]="oMetadataService.getIcon('id')"></i> {{oMetadataService.getName('id')}}</th>
            <td>{{oCompra?.id}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('amount')}}</th>
            <td>{{oCompra?.cantidad}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('price')}}</th>
            <td>{{oCompra?.precio}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('date')}}</th>
            <td>{{oCompra?.fecha | date: 'dd/MM/yyyy'}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('user discount')}}</th>
            <td>{{oCompra?.descuento_usuario}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('product discount')}}</th>
            <td>{{oCompra?.descuento_producto}}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('product id')}}</th>
            <td>{{oCompra?.producto.id }}</td>
        </tr>
        <tr>
            <th>{{oMetadataService.getName('invoice id')}}</th>
            <td>{{oCompra?.factura?.id}}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="status!=null">
    <div class="row justify-content-center">
        <div class="col-md text-center">
            <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
            <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ status.status + "(" + status.statusText
                + ") " +
                status.message}}</h6>
        </div>
    </div>
</div>