<app-menu></app-menu>

<div class="container my-3">

    <app-header [title]="'Listado de ' + strTitlePlural" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)">
</app-header>

<app-carrito-plist-AU [id_usuario]="id_usuario" [id_producto]="id_producto">

    <header>
        <a [routerLink]="['/carrito/new']" type="button" class="btn btn-success mb-2">
            <i [ngClass]="oIconService.getIcon('new')"></i> Añadir nueva carrito
        </a>
    </header>

    <!--
    <ng-template let-fila>
        <button type="button" class="btn btn-success" [routerLink]="['/usuario/view/' + fila.id]"><i
                class="fas fa-eye"></i></button>
        <button type="button" class="btn btn-warning" [routerLink]="['/usuario/edit/' + fila.id]"><i
                class="fas fa-pen"></i></button>
        <button type="button" class="btn btn-danger" [routerLink]="['/usuario/remove/' + fila.id]"><i
                class="fas fa-trash"></i></button>
    </ng-template>
    -->

</app-carrito-plist-AU>

</div>

<app-footer></app-footer>