<td class="text-end">{{oProducto.id}}</td>
<td>{{oProducto.codigo}}</td>
<td>{{oProducto.nombre| trim:60}}</td>
<td style="text-align: center;">{{oProducto.existencias}}</td>
<td style="text-align: right;">{{oProducto.precio}}€</td>
<td style="text-align: center;" *ngIf="mode"><img [src]="strAPI_URL + '/file/' + oProducto.imagen"
    style="height:40px" />
</td>
<td style="text-align: center;" *ngIf="mode">{{oProducto.imagen}}</td>
<td style="text-align: center;">{{oProducto.descuento}}%</td>
<td style="text-align: center;" *ngIf="mode">
  <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/compra/plist/producto',oProducto.id]"
    [disabled]="oProducto?.compras<=0">{{oProducto?.compras}}
    <i [ngClass]="oIconService.getIcon('compra')"></i></button>
</td>
<td style="text-align: center;" *ngIf="mode">
  <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/carrito/plist/producto',oProducto.id]"
    [disabled]="oProducto?.carritos<=0">{{oProducto?.carritos}}
    <i [ngClass]="oIconService.getIcon('carrito')"></i></button>
</td>
<td>
  <button class="btn btn-light btn-sm"
    [routerLink]="['/' + strEntity + '/' + strOperation + '/tipoproducto/' + oProducto.tipoproducto.id]">
    <i [ngClass]="oIconService.getIcon('tipoproducto')"></i> ({{oProducto.tipoproducto.id}})
    {{oProducto.tipoproducto.nombre | trim:40}}</button>
</td>
<td class="text-center">
  <div class="btn-group btn-group-sm" role="group" *ngIf="!mode">
    <button type="button" class="btn btn-success" (click)="onSelection(oProducto.id)"><i
        class="fas fa-eye"></i></button>
  </div>
  <div class="btn-group btn-group-sm" role="group" *ngIf="mode" app-plistrowbuttons-unrouted [id]="oProducto.id"
    [strEntity]="strEntity">
  </div>
</td>