<app-menu></app-menu>
<div class="container my-3">

    <app-header [title]="'Vista de un ' + strTitleSingular" [icon]="oIconService.getIcon(this.strOperation)"
        [iconEntity]="oIconService.getIcon(this.strEntity)">
    </app-header>

    <div class="row justify-content-center">
        <app-carrito-detail-AU [id]="id"></app-carrito-detail-AU>

        <div class="row justify-content-center">
            <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
                <a class="btn btn-warning mx-2" [routerLink]="['/' + strEntity + '/edit/' + id]"><i
                        [ngClass]="oIconService.getIcon('edit')"></i>
                    Modificar {{strTitleSingular}}</a>
                <a class="btn btn-danger mx-2" [routerLink]="['/' + strEntity + '/remove/' + id]"><i
                        [ngClass]="oIconService.getIcon('remove')"></i>
                    Borrar {{strTitleSingular}}
                </a>
            </div>
            <app-viewbuttons-unrouted [strEntity]="strEntity" [strTitlePlural]="strTitlePlural">
            </app-viewbuttons-unrouted>
        </div>

    </div>
</div>

<app-footer></app-footer>