<th>
  <i [ngClass]="oMetadataService.getIcon('creation')"></i> {{oMetadataService.getName('creation')}}
</th>

<th (click)="doSetOrder('comment')">
  <i [ngClass]="oMetadataService.getIcon('comment')"></i> {{oMetadataService.getName('comment')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='comment'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='comment'&&strSortDirection=='desc'"></i>
</th>
<th>
  <i [ngClass]="oMetadataService.getIcon('usuario')"></i> {{oMetadataService.getName('usuario')}}
</th>

