<td class="text-end">{{ oCompra.id }}</td>
<td class="text-center">{{ oCompra.cantidad }}</td>
<td class="text-end">{{ oCompra.precio }}€</td>
<td class="text-center">{{ oCompra?.fecha | date: 'dd/MM/yyyy' }} </td>
<td class="text-center">{{ oCompra.descuento_usuario }}%</td>
<td class="text-center">{{ oCompra.descuento_producto }}%</td>
<td>
  <button class="btn btn-light btn-sm" [routerLink]="['/administrador','compra','plist','producto',oCompra?.producto?.id]">
    <i [ngClass]="oMetadataService.getIcon('producto')"></i> ({{ oCompra.producto.id }}) {{ oCompra.producto.nombre |
    trim: 40 }}
  </button>
</td>
<td  *ngIf="oCompra.factura!=null">
  <button class="btn btn-light btn-sm" [routerLink]="['/administrador','compra','plist','factura',oCompra?.factura?.id]">
    <i [ngClass]="oMetadataService.getIcon('factura')"></i>
    ({{ oCompra?.factura?.id }}) {{ oCompra?.factura?.usuario?.nombre + " " + oCompra?.factura?.usuario?.apellido1 +
    " " + oCompra?.factura?.usuario?.apellido2 | trim: 30 }}
  </button>
</td>
<td  *ngIf="oCompra.factura==null" class="table-warning">
  NOT ASSIGNED TO ANY FACTURA
</td>
<td class="text-left">
  <ng-content select="[action_column]"></ng-content>
</td>