<label class="col-sm-2 col-form-label"> <i [ngClass]="oMetadataService.getIcon(entity)"></i>
  {{entity.charAt(0).toUpperCase() + entity.slice(1)}}</label>

<div class="col-sm-6">
  <div class="input-group has-validation">
    <span class="input-group-text">{{description}}</span>
    <input type="number" class="form-control" [(ngModel)]="id" (ngModelChange)="onChangeForeign($event)" [ngClass]="{'is-valid':dirty && (description!='ERROR'),
      'is-invalid':dirty && (description=='ERROR')}" />
    <button type="button" class="btn btn-success" (click)="openModal()">
      {{oMetadataService.getName('select a ' + entity)}}      
    </button>
  </div>
</div>

<app-shared-modal-unrouted [show]="eventsSubjectShowModal.asObservable()" [size]="'xl'" [hide]="eventsSubjectHideModal.asObservable()"
  (close)="onCloseModal()" [mimodal]="entity"> 

  <ng-content select="[plist-finder-title]"></ng-content>
  
  <app-usuario-selection-admin-unrouted (selection)="onSelection($event)" *ngIf="entity=='usuario'">
    <header></header>
  </app-usuario-selection-admin-unrouted>

  <app-tipousuario-selection-admin-unrouted (selection)="onSelection($event)" *ngIf="entity=='tipousuario'">
    <header></header>
  </app-tipousuario-selection-admin-unrouted>
  
  <app-producto-selection-admin-unrouted (selection)="onSelection($event)" *ngIf="entity=='producto'">
    <header></header>
  </app-producto-selection-admin-unrouted>
  
  <app-tipoproducto-selection-admin-unrouted (selection)="onSelection($event)" *ngIf="entity=='tipoproducto'">
    <header></header>
  </app-tipoproducto-selection-admin-unrouted>
  
  <app-factura-selection-admin-unrouted (selection)="onSelection($event)" *ngIf="entity=='factura'">
    <header></header>
  </app-factura-selection-admin-unrouted>

</app-shared-modal-unrouted>