<app-menu></app-menu>

<div class="container my-3">

    <app-header [title]="'Listado de ' + strTitlePlural" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)" [filter]="strFilteredMessage"
    [subtitle]="totalElements + ' ' + strTitlePlural">
  </app-header>

    <div class="row justify-content-between">
        <div class="col-md">
            <nav aria-label="pagination">
                <ul class="pagination">
                    <li class="page-item" aria-current="page" *ngFor="let p of barraPaginacion"
                    [ngClass]="{'active': (page+1+'' == p)}">
                    <a class="page-link" (click)="page=(+p-1);jumpToPage()" href="#">{{p}}</a>
                </li>
                </ul>
            </nav>
        </div>
        <div class="col-md text-center">
            <a [routerLink]="['/factura/new']" type="button" class="btn btn-success mb-2">
                <i class="fas fa-plus"></i> Añadir nueva Factura
            </a>
        </div>
        <div class="col-md text-end">
            <div class="dropdown mb-3">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Registros por página: {{pageSize}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" (click)="pageSize=10;getPage()">10</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=50;getPage()">50</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=100;getPage()">100</a></li>
                    <li><a class="dropdown-item" (click)="pageSize=1000;getPage()">1000</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md table-responsive-md">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="text-center">
                        <th (click)="doSetOrder('id')"> <i [ngClass]="oIconService.getIcon('id')"></i> ID
                            <i class="fas fa-arrow-up" *ngIf="currentSortField=='id'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='id'&&currentSortDirection=='desc'"></i>
                        </th>
                        <th (click)="doSetOrder('iva')"><i [ngClass]="oIconService.getIcon('porcentaje')"></i> Iva
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='iva'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='iva'&&currentSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('id_usuario')"><i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='cuerpo'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='cuerpo'&&currentSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('fecha')"><i [ngClass]="oIconService.getIcon('fecha')"></i> Fecha
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='fecha'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='fecha'&&currentSortDirection=='desc'"></i>

                        </th>
                        <th (click)="doSetOrder('pagado')"><i [ngClass]="oIconService.getIcon('pagado')"></i> Pagado
                            <i class="fas fa-arrow-up"
                                *ngIf="currentSortField=='pagado'&&currentSortDirection=='asc'"></i>
                            <i class="fas fa-arrow-down"
                                *ngIf="currentSortField=='pagado'&&currentSortDirection=='desc'"></i>

                        </th>
                        <th><i [ngClass]="oIconService.getIcon('acciones')"></i> Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fila of aFacturas">
                        <td>{{fila?.id}}</td>
                        <td>{{fila?.iva }}</td>
                        <td> <a [routerLink]="['/factura/plist/' + fila?.usuario?.id]">{{fila?.usuario?.nombre }} {{fila?.usuario?.apellido1 }} {{fila?.usuario?.apellido2 }}</a></td>
                        <td>{{fila?.fecha  }}</td>
                        <td class="text-center" [innerHTML]="fila.pagado | showBoolean"></td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
                                <button type="button" class="btn btn-success" [routerLink]="['/factura/view/' + fila.id]"><i
                                        class="fas fa-eye"></i></button>
                                <button type="button" class="btn btn-warning" [routerLink]="['/factura/edit/' + fila.id]"><i
                                        class="fas fa-pen"></i></button>
                                <button type="button" class="btn btn-danger" [routerLink]="['/factura/remove/' + fila.id]"><i
                                        class="fas fa-trash"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-footer></app-footer>	Pedro Lopez Sanchez