<app-menu-unrouted></app-menu-unrouted>
<div class="container my-3">
    <app-header [title]="oMetadataService.getTitle(strEntity,strOperation)"
        [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
    </app-header>
    <div class="row justify-content-center">
        <app-factura-detail-admin-unrouted [id]=id></app-factura-detail-admin-unrouted>
        <app-removeconfirmation-unrouted [strEntity]="strEntity" (doRemove)="removeOne()">
        </app-removeconfirmation-unrouted>
        <app-footerbuttons-unrouted [strEntity]="strEntity"></app-footerbuttons-unrouted>
    </div>
    <app-footer></app-footer>
</div>
<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>