<td class="text-end">{{ oTipousuario.id }}</td>
<td>{{ oTipousuario.nombre }}</td>
<td *ngIf="mode" style="text-align: center">
  <button class="btn btn-outline-secondary btn-sm"
    [routerLink]="['/administrador','usuario','plist','tipousuario',oTipousuario.id]"
    [disabled]="oTipousuario?.usuarios<=0">
    {{ oTipousuario?.usuarios }}
    <i [ngClass]="oMetadataService.getIcon('usuario')"></i>
  </button>
</td>
<td class="text-center">
  <ng-content select="[action_column]"></ng-content>
</td>