<table class="table table-striped">
    <tbody>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('id')"></i> ID</th>
        <td>{{ oCarrito?.id }}</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('cantidad')"></i> {{oMetadataService.getName('cantidad')}}</th>
        <td>{{ oCarrito?.cantidad }} unidades</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('precio')"></i> Precio</th>
        <td>{{ oCarrito?.precio }} €</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('producto')"></i> Producto</th>
        <td>{{ oCarrito?.producto?.id }} - {{ oCarrito?.producto?.nombre }} ({{ oCarrito?.producto?.codigo }})</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('usuario')"></i> Usuario</th>
        <td>{{ oCarrito?.usuario?.id }} - {{ oCarrito?.usuario?.nombre }} {{ oCarrito?.usuario?.apellido1 }} {{ oCarrito?.usuario?.apellido2 }} ({{ oCarrito?.usuario?.dni }})</td>
      </tr>
    </tbody>
  </table>