<table class="table table-striped">
    <tbody>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('id')"></i> {{oMetadataService.getName('id')}}</th>
        <td>{{ oCarrito?.id }}</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('cantidad')"></i> {{oMetadataService.getName('amount')}}</th>
        <td>{{ oCarrito?.cantidad }} {{oMetadataService.getName('units')}}</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('precio')"></i> {{oMetadataService.getName('price')}}</th>
        <td>{{ oCarrito?.precio }} €</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('producto')"></i> {{oMetadataService.getName('product')}}</th>
        <td>{{ oCarrito?.producto?.id }} - {{ oCarrito?.producto?.nombre }} ({{ oCarrito?.producto?.codigo }})</td>
      </tr>
      <tr>
        <th><i [ngClass]="oMetadataService.getIcon('usuario')"></i> {{oMetadataService.getName('user')}}</th>
        <td>{{ oCarrito?.usuario?.id }} - {{ oCarrito?.usuario?.nombre }} {{ oCarrito?.usuario?.apellido1 }} {{ oCarrito?.usuario?.apellido2 }} ({{ oCarrito?.usuario?.dni }})</td>
      </tr>
    </tbody>
  </table>