<div *ngIf="!oPage.error">
  <div class="row justify-content-between my-3">
    <div class="col-md text-start">
      <h5 *ngIf="!oPage.strFilteredMessage"><span class="badge rounded-pill text-bg-warning">
          {{oMetadataService.getName('No active filter')}}</span></h5>
      <h5 *ngIf="oPage.strFilteredMessage"><span class="badge rounded-pill text-bg-warning">
          {{oMetadataService.getName('Filter: ')}} {{oPage.strFilteredMessage}}</span></h5>
    </div>
    <div class="col-md text-center">
      <app-shared-search-unrouted [strFilter]="oPage.strFilter"
        [strTitlePlural]="'Filtro de ' + oMetadataService.getName(strEntity+'s').toLowerCase()"
        (eeFilter)="onSetFilter($event)" *ngIf="!oPage.error">
      </app-shared-search-unrouted>
    </div>
    <div class="col-md text-end">
      <h4 class="text-muted" *ngIf="!oPage.error">{{oPage.totalElements}} {{oMetadataService.getName(strEntity+'s')}}
      </h4>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md text-start">
      <app-shared-pagination-unrouted [nPage]="oPage.number + 1" [nTotalPages]="oPage.totalPages"
        (eePage)="onSetPage($event)">
      </app-shared-pagination-unrouted>
    </div>
    <div class="col-md text-center" *ngIf="!oPage.error">
      <ng-content select="header"></ng-content>
    </div>

    <div class="col-md text-center" *ngIf="oPage.error">
      <div class="alert alert-danger" role="alert">
        Hay problemas con el servidor. Inténtelo más tarde.
      </div>
    </div>

    <div class="col-md text-end">
      <app-shared-rpp-unrouted [nPageSize]="oPage.size" (eeRpp)="onSetRpp($event)" *ngIf="!oPage.error">
      </app-shared-rpp-unrouted>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="card m-1" *ngFor="let oProducto of oPage.content">
      <img class="card-img-top" [src]="'http://localhost:8082/file/' + oProducto.imagen" height="180px" width="180px" />
      <div class="card-body d-flex flex-column">

        <div>
          <div class="card-title d-flex justify-content-between">

            <h4 class="flex-grow-1"> <a class="nombreproducto" [routerLink]="['/','producto','view',oProducto.id]">
                {{oProducto.nombre}}
              </a> </h4>

            <div> <i *ngIf="oProducto.cantidad" class="fas fa-shopping-cart" pBadge style="font-size: 2rem"
                value="{{oProducto.cantidad}}"></i></div>
          </div>
          <div class="d-flex justify-content-center">
            <p class="card-text flex-grow-1" style="font-size: 0.75rem">{{oProducto.tipoproducto.nombre}}</p>
          </div>
        </div>

        <div class="mt-auto">
          <div class="d-flex justify-content-center m-3">
            <span class="badge rounded-pill bg-warning"
              *ngIf="oProducto.existencias>20">{{oProducto.existencias|number:'1.0-0':'es-ES'}}
              {{oMetadataService.getName('availables')}}</span>
            <span class="badge rounded-pill bg-danger"
              *ngIf="oProducto.existencias<=20">{{oMetadataService.getName('only')}} {{oProducto.existencias}}
              {{oMetadataService.getName('availables')}}</span>
          </div>
          <div class="d-flex justify-content-center">
            <h1><span class="badge bg-secondary">{{oProducto.precio.toFixed(2)|number: '1.2-2':'es-ES'}}€</span></h1>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

<div *ngIf="oPage.error">
  <div class="row justify-content-center">
    <div class="col-md text-center">
      <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
      <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ oPage.error.status + "(" +
        oPage.error.statusText + ") " + oPage.error.message}}</h6>
    </div>
  </div>
</div>