<app-menu></app-menu>
<div class="container my-3">
  <app-header [title]="oMetadataService.getTitle(strEntity,strOperation)"
    [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
  </app-header>
  <div class="row justify-content-center">
    <app-tipousuario-form-admin-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
    </app-tipousuario-form-admin-unrouted>
    <app-footerbuttons-unrouted [strEntity]="strEntity"></app-footerbuttons-unrouted>
  </div>
</div>
<app-footer></app-footer>
<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>