<app-menu></app-menu>

<div class="container my-3">

    <app-header [title]="'Alta de ' + strTitleSingular" [icon]="oIconService.getIcon(this.strOperation)"
        [iconEntity]="oIconService.getIcon(this.strEntity)">
    </app-header>

    <div class="row justify-content-center">

        <app-producto-form-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
        </app-producto-form-unrouted>

        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
            <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i [ngClass]="oIconService.getIcon('home')"></i>
                Página principal</a>
            <a class="btn btn-primary mx-2" [routerLink]="['/' + strEntity + '/plist']"><i
                    [ngClass]="oIconService.getIcon('plist')"></i> Listado de {{strTitlePlural}}</a>
            <a class="btn btn-primary mx-2" (click)="goBack()"><i [ngClass]="oIconService.getIcon('volver')"></i> Volver
            </a>
        </div>

    </div>
</div>

<app-footer></app-footer>

<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()"></app-popup>