<table class="table table-striped">
  <tbody>
    <tr>
      <th><i [ngClass]="oMetadataService.getIcon('id')"></i>{{oMetadataService.getName('id')}}</th>
      <td>{{oComment?.id}}</td>
    </tr>
    <tr>
      <th>Comentario</th>
      <td>{{oComment?.comment}}</td>
    </tr>
    <tr>
      <th>{{oMetadataService.getName('name')}}</th>
      <td>{{oComment?.usuario.login}}</td>
    </tr>
    <tr>
      <th>{{oMetadataService.getName('product')}}</th>
      <td>{{oComment?.producto.codigo + ' ' + oComment?.producto.nombre}}</td>
    </tr>
    <tr>
      <th>{{oMetadataService.getName('creation')}}</th>
      <td>{{oComment?.creation}}</td>
    </tr>    
    <tr>
      <th>{{oMetadataService.getName('lastedition')}}</th>
      <td>{{oComment?.lastedition}}</td>
    </tr>    
  </tbody>
</table>