<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 text-center">
            <div class="bg-light mt-5 p-5">
                <img class="my-3" src="assets/img/wildCartLogo100.png" width="100">
                <form [formGroup]="formularioLogin" (ngSubmit)="onSubmit()" novalidate class="row g-3">
                    <h4><i [ngClass]="oMetadataService.getIcon(this.strOperation)"></i>
                        {{oMetadataService.getName('login form')}}</h4>
                    <div class="col-12 text-start">
                        <label for="username" class="form-label">{{oMetadataService.getName('user name')}}</label>
                        <div class="input-group has-validation">
                            <input type="text" formControlName="username" id="username" class="form-control"
                                placeholder="Nombre de usuario"
                                [class.is-invalid]="formularioLogin.get('username')!.dirty && formularioLogin.get('username')!.invalid">
                            <div class="invalid-feedback"
                                *ngIf="!formularioLogin.get('username').errors?.minlength || formularioLogin.get('username').dirty">
                                {{oMetadataService.getName('Minimum lenght for this field is')}} 5
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-start">
                        <label for="password" class="form-label">{{oMetadataService.getName('Password')}}</label>
                        <input type="password" formControlName="password" id="password" name="password"
                            class="form-control" placeholder="Contraseña"
                            [class.is-invalid]="formularioLogin.get('password')!.dirty && formularioLogin.get('password')!.invalid"
                            required>
                        <div class="invalid-feedback"
                            *ngIf="!formularioLogin.get('password').errors?.required || formularioLogin.get('password').dirty">
                            {{oMetadataService.getName('You can\'t leave empty this field')}}</div>
                        <div class="invalid-feedback"
                            *ngIf="!formularioLogin.get('password').errors?.minlength || formularioLogin.get('password').dirty">
                            {{oMetadataService.getName('Minimum lenght for this field is')}} 5
                        </div>
                    </div>

                    <div class="col-12 text-start mt-5">
                        <!-- <label class="form-label">Demuestra que eres humano. Responde:</label> -->
                        <div class="text-center">
                            <label class="form-label">{{oPrelogin.question}}</label>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" id="captcha_form" class="form-control" formControlName="answer"
                                placeholder="Responde a la pregunta">
                            <button class="btn btn-outline-secondary" type="button" (click)="reloadPrelogin()">
                                {{oMetadataService.getName('Change the question')}}
                            </button>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="control-group text-center mt-3">
                            <button type="submit" class="btn btn-primary"><i
                                    [ngClass]="oMetadataService.getIcon(this.strOperation)"></i>
                                {{oMetadataService.getName('Log in')}}</button>
                        </div>
                    </div>

                    <div class="alert alert-danger" role="alert" *ngIf="oError">
                        {{oMetadataService.getName('There are problems with the server. Try it later')}}
                    </div>

                    <div class="col-12">
                        <div class="control-group text-center mt-3">
                            <button class="btn btn-danger m-2" (click)="loginAdmin()"><i
                                    [ngClass]="oMetadataService.getIcon(this.strOperation)"></i> admin/wildcart</button>
                            <button class="btn btn-success m-2" (click)="loginUser()"><i
                                    [ngClass]="oMetadataService.getIcon(this.strOperation)"></i> user/wildcart</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>