<!-- 
<th (click)="doSetOrder('id')">
  <i [ngClass]="oIconService.getIcon('id')"></i> ID
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'id' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'id' && strSortDirection == 'desc'"></i>
</th>
-->
<th (click)="doSetOrder('producto')">
  <i [ngClass]="oIconService.getIcon('imagen')"></i> Imagen del producto
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('producto')">
  <i [ngClass]="oIconService.getIcon('producto')"></i> Producto
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('cantidad')">
  <i [ngClass]="oIconService.getIcon('cantidad')"></i> Cantidad
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'cantidad' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'cantidad' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('precio')">
  <i [ngClass]="oIconService.getIcon('euro')"></i> Precio
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'precio' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'precio' && strSortDirection == 'desc'"></i>
</th>
<!--
<th (click)="doSetOrder('usuario')">
  <i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario
  <i [ngClass]="oIconService.getIcon('flechaUp')"
    *ngIf="strSortField == 'usuario' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oIconService.getIcon('flechaDown')"
    *ngIf="strSortField == 'usuario' && strSortDirection == 'desc'"></i>
</th>
-->
<th>
  <i [ngClass]="oIconService.getIcon('iva')"></i> IVA 21%
</th>
<th>
  <i [ngClass]="oIconService.getIcon('total')"></i> TOTAL (con IVA)
</th>
<th>
  <i [ngClass]="oIconService.getIcon('acciones')"></i> Acciones
</th>