<div class="row justify-content-center">
  <div class="card p-5">
    <div class="row g-0">
      <div class="col-md-6">
        <img [src]="'http://localhost:8082/file/' + oProducto?.imagen" class="img-fluid border rounded-3 border-5" />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">{{oProducto?.nombre}}</h2>
          <p class="card-text flex-grow-1" style="font-size: 0.95rem; font-style: italic;">
            {{oProducto?.tipoproducto.nombre}}</p>
          <p class="card-text"><small class="text-muted">Código {{oProducto?.codigo}}</small></p>
          <h1 class="price">Precio: <span>{{oProducto?.precio|number: '1.2-2':'es-ES'}}€</span></h1>
          <h2><span class="badge bg-danger">Descuento del {{oProducto?.descuento}}%</span></h2>
          <div class="d-flex justify-content-left my-3">
            <h3>
              <span class="badge rounded-pill bg-warning"
                *ngIf="oProducto?.existencias>20">{{oProducto.existencias|number:
                '1.0-0':'es-ES'}} disponibles</span>
              <span class="badge rounded-pill bg-danger" *ngIf="oProducto?.existencias<=20">Sólo
                {{oProducto?.existencias}} disponibles</span>
            </h3>
          </div>
          <div>
          </div>
          <div class="d-flex justify-content-end my-3">
            <h3 class="flex-grow-1 m-1" *ngIf="oProducto?.cantidad==1">Tienes {{oProducto?.cantidad}} unidad en el
              carrito</h3>
            <h3 class="flex-grow-1 m-1" *ngIf="oProducto?.cantidad>1">Tienes {{oProducto?.cantidad}} {{oMetadataService.getName('units')}} en el
              carrito</h3>
            <button type="button" class="btn btn-danger m-1" *ngIf="id_tipousuario_session==2&&oProducto?.cantidad>0"
              (click)="removeCarrito(oProducto.id)"><i class="fas fa-cart-arrow-down"
                style="font-size: 2rem"></i></button>
            <button type="button" class="btn btn-primary m-1"
              *ngIf="id_tipousuario_session==2&&oProducto?.existencias>0&&oProducto?.cantidad<oProducto?.existencias"
              (click)="addCarrito(oProducto.id)"><i class="fas fa-cart-plus" style="font-size: 2rem"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>