<div class="row justify-content-center" *ngIf="status==null">
  <div class="card p-5">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="API_URL + '/file/' + oProducto?.imagen" class="img-fluid border rounded-3 border-5" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{oProducto?.nombre}}</h2>
          <p class="card-text flex-grow-1" style="font-size: 0.95rem; font-style: italic;">
            {{oProducto?.tipoproducto.nombre}}</p>
          <p class="card-text"><small class="text-muted"> {{oMetadataService.getName('code')}}
              {{oProducto?.codigo}}</small></p>

          <button type="button" class="btn btn-primary m-1" (click)="print(oProducto.id)">
            <i class="fas fa-print" style="font-size: 2rem"></i></button>
          <h1 class="price">{{oMetadataService.getName('price')}}: <span>{{oProducto?.precio|number:
              '1.2-2':'es-ES'}}€</span></h1>
          <h2><span class="badge bg-danger">{{oMetadataService.getName('discount of')}} {{oProducto?.descuento}}%</span>
          </h2>
          <div class="d-flex justify-content-left my-3">
            <h3>
              <span class="badge rounded-pill bg-warning"
                *ngIf="oProducto?.existencias>20">{{oProducto.existencias|number:
                '1.0-0':'es-ES'}} {{oMetadataService.getName('availables').toLowerCase()}}</span>
              <span class="badge rounded-pill bg-danger"
                *ngIf="oProducto?.existencias<=20">{{oMetadataService.getName('only')}}
                {{oProducto?.existencias}} {{oMetadataService.getName('availables').toLowerCase()}}</span>
            </h3>
          </div>
          <div>
          </div>
          <div class="d-flex justify-content-end my-3">
            <h3 class="flex-grow-1 m-1" *ngIf="oProducto?.cantidad==1">{{oMetadataService.getName('you have')}}
              {{oProducto?.cantidad}} {{oMetadataService.getName('unit').toLowerCase()}} {{oMetadataService.getName('in
              the cart'.toLowerCase())}}</h3>
            <h3 class="flex-grow-1 m-1" *ngIf="oProducto?.cantidad>1">{{oMetadataService.getName('you have')}}
              {{oProducto?.cantidad}} {{oMetadataService.getName('units')}} {{oMetadataService.getName('in the
              cart'.toLowerCase())}}</h3>
            <button type="button" class="btn btn-danger m-1" *ngIf="oProducto?.cantidad>0"
              (click)="removeCarrito(oProducto.id)"><i class="fas fa-cart-arrow-down"
                style="font-size: 2rem"></i></button>
            <button type="button" class="btn btn-primary m-1"
              *ngIf="oProducto?.existencias>0&&oProducto?.cantidad<oProducto?.existencias"
              (click)="addCarrito(oProducto.id)"><i class="fas fa-cart-plus" style="font-size: 2rem"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="status!=null">
  <div class="row justify-content-center">
    <div class="col-md text-center">
      <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
      <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ status.status + "(" + status.statusText
        + ") " +
        status.message}}</h6>
    </div>
  </div>
</div>