<form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="status==null">

    <div class="row mb-3">
        <label for="id" class="col-sm-2 col-form-label"><i [ngClass]="oMetadataService.getIcon('id')"></i>
            {{oMetadataService.getName('id')}}</label>
        <div class="col-sm-1">
            <input class="form-control" type="text" placeholder="{{id}}" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <label for="comment" class="col-sm-2 col-form-label"><i [ngClass]="oMetadataService.getIcon('comment')"></i>
            {{oMetadataService.getName('comment')}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="comment" formControlName="comment"
                [ngClass]="{'is-valid' : f.comment.dirty && !(f.comment.errors?.required || f.comment.errors?.minlength) }">
            <div *ngIf="f.comment.dirty && f.comment.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}
            </div>
            <div *ngIf="f.comment.dirty && f.comment.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="creation" class="col-sm-2 col-form-label"><i [ngClass]="oMetadataService.getIcon('creation')"></i>
            {{oMetadataService.getName('creation')}}</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="creation" formControlName="creation">
        </div>
    </div>

    <div class="row mb-3">
        <label for="lastedition" class="col-sm-2 col-form-label"><i [ngClass]="oMetadataService.getIcon('lastedition')"></i>
            {{oMetadataService.getName('lastedition')}}</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="lastedition" formControlName="lastedition">
        </div>
    </div>

    <div class="row mb-3" app-shared-find-unrouted [entity]="'usuario'" [id]="oComment2Show?.usuario.id"
        [description]="oComment2Show?.usuario.nombre + ' ' + oComment2Show?.usuario.apellido1" (selection)="onFindSelectionUsuario($event)">
        <div plist-finder-title>
            <h4 class="text-center">{{oMetadataService.getName('selectionHelp') + ' ' +
                oMetadataService.getName('ausuario').toLowerCase()}}</h4>
        </div>
    </div>

    <div class="row mb-3" app-shared-find-unrouted [entity]="'producto'" [id]="oComment2Show?.producto.id"
        [description]="oComment2Show?.producto.nombre" (selection)="onFindSelectionProducto($event)">
        <div plist-finder-title>
            <h4 class="text-center">{{oMetadataService.getName('selectionHelp') + ' ' +
                oMetadataService.getName('aproducto').toLowerCase()}}</h4>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-warning" [disabled]="oForm.invalid || oForm.pristine"><i
                    [ngClass]="oMetadataService.getIcon('ok')"></i> {{oMetadataService.getName('save') + ' ' +
                oMetadataService.getName('the' + strEntity).toLowerCase()}}</button>
        </div>
    </div>

</form>

<div *ngIf="status!=null">
    <div class="row justify-content-center">
      <div class="col-md text-center">
        <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
        <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ status.status + "(" + status.statusText + ") " +
          status.message}}</h6>
      </div>
    </div>
  </div>