<div class="container my-3">
    <app-header [title]="oMetadataService.getName('productDetail')" [icon]="oMetadataService.getIcon(this.strOperation)"
        [iconEntity]="oMetadataService.getIcon(this.strEntity)">
    </app-header>
    <div class="row justify-content-center">
        <app-producto-detail-user-unrouted [id]="id"></app-producto-detail-user-unrouted>
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-primary m-2" [routerLink]="['/home']"><i class="fas fa-home"></i>
            {{oMetadataService.getName('go to ' + strEntity + ' list' )}}</a>
        <a class="btn btn-primary m-2" (click)="oLocation.back()"><i [ngClass]="oMetadataService.getIcon('return')"></i>
            {{oMetadataService.getName('return')}}</a>
    </div>
</div>