<app-menu></app-menu>
<div class="container my-3">

    <app-header [title]="oMetadataService.getTitle(strEntity,strOperation)"
        [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
    </app-header>

    <app-producto-plist-admin-unrouted [id_tipoproducto]="id_tipoproducto">

        <header>
            <a [routerLink]="['/producto/new']" type="button" class="btn btn-success mb-2">
                <i class="fas fa-plus"></i> Añadir nuevo Producto
            </a>
        </header>

        <!--
      <ng-template let-fila>
          <button type="button" class="btn btn-success" [routerLink]="['/usuario/view/' + fila.id]"><i
                  class="fas fa-eye"></i></button>
          <button type="button" class="btn btn-warning" [routerLink]="['/usuario/edit/' + fila.id]"><i
                  class="fas fa-pen"></i></button>
          <button type="button" class="btn btn-danger" [routerLink]="['/usuario/remove/' + fila.id]"><i
                  class="fas fa-trash"></i></button>
      </ng-template>
      -->

    </app-producto-plist-admin-unrouted>

</div>
<app-footer></app-footer>