<div class="container my-3">
  <app-header [title]="oMetadataService.getName(strOperation + 'of')  + ' ' +  oMetadataService.getName(strEntity + 's').toLowerCase()"
    [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
  </app-header>
  <div class="row justify-content-center">
    <app-comment-form-admin-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
    </app-comment-form-admin-unrouted>
    <app-footerbuttons-unrouted [strEntity]="strEntity"></app-footerbuttons-unrouted>
  </div>
</div>
<app-popup [show]="eventsSubjectShowPopup.asObservable()" (close)="onClosePopup()"></app-popup>