<td class="text-end">{{oFactura?.id}}</td>
<td class="text-center">{{oFactura?.iva}}%</td>
<td class="text-center">{{oFactura?.fecha | date: 'dd/MM/yyyy'}}</td>
<td style="text-align: center;">
  {{oFactura?.compras}}
</td>
<td class="text-end">{{oFactura.total|number: '1.2-2':'es-ES'}} €</td>
<td class="text-end">{{(oFactura.total * (oFactura?.iva/100))|number: '1.2-2':'es-ES'}} €</td>
<td class="text-end">{{oFactura.total + (oFactura.total * (oFactura?.iva/100))|number: '1.2-2':'es-ES'}} €</td>
<td class="text-center" [innerHTML]="oFactura.pagado | showBoolean"></td>
<td class="text-center">
  <ng-content select="[action_column]"></ng-content>
</td>