<td class="text-end">{{oFactura?.id}}</td>
<td class="text-center">{{oFactura?.iva}}%</td>
<td class="text-center">{{oFactura?.fecha | date: 'dd/MM/yyyy'}}</td>
<td style="text-align: center;">
  <button class="btn btn-outline-secondary btn-sm" *ngIf="mode"
    [routerLink]="['/administrador','compra','plist','factura',oFactura.id]">{{oFactura?.compras}}
    <i [ngClass]="oMetadataService.getIcon('compra')"></i>
  </button>
  <div *ngIf="!mode">{{oFactura?.compras}}
  </div>
</td>
<td class="text-end">{{oFactura.total|number: '1.2-2':'es-ES'}} €</td>
<td class="text-end">{{(oFactura.total * (oFactura?.iva/100))|number: '1.2-2':'es-ES'}} €</td>
<td class="text-end">{{oFactura.total + (oFactura.total * (oFactura?.iva/100))|number: '1.2-2':'es-ES'}} €</td>
<td class="text-center" [innerHTML]="oFactura.pagado | showBoolean"></td>
<td class="text-center">
  <ng-content select="[action_column]"></ng-content>
</td>