<div class="row justify-content-between my-3">
  <div class="col-md text-end">
    <h4 class="text-muted">{{oPage.totalElements| number:'1.0-0'}} {{oMetadataService.getName(strEntity+'s')}}</h4>
  </div>
</div>
<div class="row justify-content-between">
  <div class="col-md text-start">
    <app-pagination-unrouted [nPage]="oPage.number + 1" [nTotalPages]="oPage.totalPages" (eePage)="onSetPage($event)">
    </app-pagination-unrouted>
  </div>
  <div class="col-md text-center">
    <ng-content select="header"></ng-content>
  </div>
  <div class="col-md text-end">
    <app-rpp-unrouted [nPageSize]="oPage.size" (eeRpp)="onSetRpp($event)" *ngIf="!oPage.error"></app-rpp-unrouted>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md table-responsive-md">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr class="text-center align-middle" app-factura-plistheader-user-unrouted (sort)="onSetOrder($event)"
          [mode]="true">
          <div action_column_title>
            <i [ngClass]="oMetadataService.getIcon('acciones')"></i> {{oMetadataService.getName('actions')}}
          </div>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let oFacturaRow of oPage.content" class="align-middle" app-factura-plistrow-user-unrouted
          [oFactura]="oFacturaRow" [mode]="true">
          <div action_column>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-success" (click)="onViewFactura(oFacturaRow.id)"><i
                [ngClass]="oMetadataService.getIcon('view')"></i></button>
              <button type="button" class="btn btn-secondary" (click)="onPrintFactura(oFacturaRow.id)"><i
                  [ngClass]="oMetadataService.getIcon('print')"></i></button>
            </div>
          </div>
        </tr>
      </tbody>
    </table>
  </div>
</div>