<label class="col-sm-2 col-form-label"> <i [ngClass]="oIconService.getIcon(entity)"></i>
  {{entity.charAt(0).toUpperCase() + entity.slice(1)}}</label>

<div class="col-sm-6">
  <div class="input-group has-validation">
    <span class="input-group-text">{{description}}</span>
    <input type="number" class="form-control" [(ngModel)]="id" (ngModelChange)="onChangeForeign($event)" [ngClass]="{'is-valid':dirty && (description!='ERROR'),
      'is-invalid':dirty && (description=='ERROR')}" />
    <button type="button" class="btn btn-success" (click)="openModal()">
      Buscar {{entity}}
    </button>
  </div>
</div>

<app-modal [show]="eventsSubjectShowModal.asObservable()" [size]="'xl'" [hide]="eventsSubjectHideModal.asObservable()"
  (close)="onCloseModal()" [mimodal]="entity"> 
  {{entity}}
  <ng-content select="[plist-finder-title]"></ng-content>
  <app-tipousuario-plist-admin-unrouted [mode]="false" (selection)="onSelection($event)" *ngIf="entity=='tipousuario'">
    <header></header>
  </app-tipousuario-plist-admin-unrouted>
  <app-usuario-plist-admin-unrouted [mode]="false" (selection)="onSelection($event)" *ngIf="entity=='usuario'">
    <header></header>
  </app-usuario-plist-admin-unrouted>
  <app-producto-plist-admin-unrouted [mode]="false" (selection)="onSelection($event)" *ngIf="entity=='producto'">
    <header></header>
  </app-producto-plist-admin-unrouted>
  <app-tipoproducto-plist-unrouted [mode]="false" (selection)="onSelection($event)" *ngIf="entity=='tipoproducto'">
    <header></header>
  </app-tipoproducto-plist-unrouted>
  <app-factura-plist-admin-unrouted [mode]="false" (selection)="onSelection($event)" *ngIf="entity=='factura'">
    <header></header>
  </app-factura-plist-admin-unrouted>
</app-modal>