<app-menu></app-menu>

<div class="container my-3">
  <app-header
    [title]="'Edición de ' + strTitleSingular"
    [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)"
  >
  </app-header>

  <div class="row justify-content-center">
    <form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="oForm">
      <div class="row mb-3">
        <label for="id" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('id')"></i> ID</label
        >
        <div class="col-sm-10">
          <input
            class="form-control"
            name="id"
            formControlName="id"
            type="text"
            placeholder="{{ id }}"
            readonly
          />
        </div>
      </div>

      <div class="row mb-3">
        <label for="fecha" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('fecha')"></i> Fecha</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            name="fecha"
            id="fecha"
            formControlName="fecha"
            class="text ui-widget-content ui-corner-all"
          />
          <div
            *ngIf="f.fecha.dirty && f.fecha.errors?.required"
            class="text-danger"
          >
            Se debe introducir una fecha correcta
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="iva" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('porcentaje')"></i> IVA</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="iva"
            formControlName="iva"
            [ngClass]="{
              'is-valid':
                f.iva.dirty &&
                !(f.iva.errors?.required || f.iva.errors?.minlength)
            }"
          />
          <div
            *ngIf="f.iva.dirty && f.iva.errors?.required"
            class="text-danger"
          >
            Se debe introducir un IVA. El mínimo es de un 4% y máximo de 21%.
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="pagado" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('pagado')"></i> Pagado</label
        >
        <div class="col-sm-10">
          </div>
        </div>
     

      <div class="row mb-3">
        <label for="id_usuario" class="col-sm-2 col-form-label">
          <i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario</label>

        <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-text">{{
              oFactura2Show.usuario.nombre +
                " " +
                oFactura2Show.usuario.apellido1 +
                " " +
                oFactura2Show.usuario.apellido2
            }}</span>
            <input
              type="number"
              class="form-control"
              id="id_usuario"
              formControlName="id_usuario"
              (ngModelChange)="onChangeUsuario($event)"
            />
            <button type="button" class="btn btn-success" (click)="openModal()">
              Buscar usuario
            </button>
          </div>
        </div>
      </div>

      <div class="row mb-3 justify-content-center">
        <div
          class="
            d-grid
            gap-2
            d-md-block
            mt-3
            d-md-flex
            justify-content-md-center
          "
        >
          <button
            type="submit"
            class="btn btn-warning"
            [disabled]="oForm.invalid || oForm.pristine"
          >
            Guardar Factura
          </button>
        </div>
      </div>
    </form>

    <div class="control-group text-center mt-5">
      <div
        class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center"
      >
        <a class="btn btn-primary mx-2" [routerLink]="['/home']"
          ><i class="fas fa-home"></i> Página principal</a
        >
        <a class="btn btn-primary mx-2" [routerLink]="['/factura/plist']"
          ><i class="fas fa-file-alt"></i> Listado de Facturas</a
        >
        <a class="btn btn-primary mx-2" (click)="goBack()"
          ><i class="fas fa-arrow-circle-left"></i> Volver
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>



<app-modal [show]="eventsSubjectShowModal.asObservable()" [size]="'xl'" [hide]="eventsSubjectHideModal.asObservable()"
    (close)="onCloseModal()">
    <app-usuario-plist-unrouted [id_tipousuario]="id_tipousuario" [mode]="false" (selection)="onSelection($event)">
        <header></header>        
    </app-usuario-plist-unrouted>

</app-modal>

<app-popup
  [show]="eventsSubjectShowPopup.asObservable()"
  [body]="strResult"
  (close)="onClosePopup()"
  [size]="'sm'"
></app-popup>
