<form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="oForm&&status==null">

    <div class="row mb-3">
        <label for="id" class="col-sm-2 col-form-label"><i [ngClass]="oMetadataService.getIcon('id')"></i>
            {{oMetadataService.getName('id')}}</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" placeholder="{{ id }}" readonly formControlName="id" />
        </div>
    </div>

    <div class="row mb-3">
        <label for="nombre" class="col-sm-2 col-form-label">{{oMetadataService.getName('name')}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                [ngClass]="{'is-valid': f.nombre.valid,'is-invalid': f.nombre.invalid}" />
            <div *ngIf="f.nombre.invalid" class="text-danger">
                {{oMetadataService.getName('you must set a valid name')}}
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-warning" [disabled]="oForm.invalid || oForm.pristine">
                <i [ngClass]="oMetadataService.getIcon('ok')"></i> {{oMetadataService.getName('save') + ' ' +
                oMetadataService.getName('the' + strEntity).toLowerCase()}}
            </button>
        </div>
    </div>
</form>

<div *ngIf="status!=null">
    <div class="row justify-content-center">
        <div class="col-md text-center">
            <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
            <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ status.status + "(" + status.statusText
                + ") " +
                status.message}}</h6>
        </div>
    </div>
</div>