<th (click)="doSetOrder('id')">
  <i [ngClass]="oMetadataService.getIcon('id')"></i> {{oMetadataService.getName('ID')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')" *ngIf="strSortField == 'id' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')" *ngIf="strSortField == 'id' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('cantidad')">
  <i [ngClass]="oMetadataService.getIcon('cantidad')"></i> {{oMetadataService.getName('amount')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')"
    *ngIf="strSortField == 'cantidad' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'cantidad' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('precio')">
  <i [ngClass]="oMetadataService.getIcon('euro')"></i> {{oMetadataService.getName('price')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')" *ngIf="strSortField == 'precio' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'precio' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('fecha')">
  <i [ngClass]="oMetadataService.getIcon('fecha')"></i> {{oMetadataService.getName('date')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')" *ngIf="strSortField == 'fecha' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'fecha' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('descuento_usuario')">
  <i [ngClass]="oMetadataService.getIcon('porcentaje')"></i> {{oMetadataService.getName('user desc')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')" *ngIf="strSortField == 'descuento_usuario' &&
      strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')" *ngIf="strSortField == 'descuento_usuario' &&
      strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('descuento_producto')">
  <i [ngClass]="oMetadataService.getIcon('porcentaje')"></i> {{oMetadataService.getName('product desc')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')"
    *ngIf="strSortField == 'descuento_producto' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'descuento_producto' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('producto')">
  <i [ngClass]="oMetadataService.getIcon('producto')"></i> {{oMetadataService.getName('product')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'producto' && strSortDirection == 'desc'"></i>
</th>
<th (click)="doSetOrder('factura')">
  <i [ngClass]="oMetadataService.getIcon('factura')"></i> {{oMetadataService.getName('invoice')}}
  <i [ngClass]="oMetadataService.getIcon('flechaUp')"
    *ngIf="strSortField == 'factura' && strSortDirection == 'asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('flechaDown')"
    *ngIf="strSortField == 'factura' && strSortDirection == 'desc'"></i>
</th>
<th>
  <ng-content select="[action_column_title]"></ng-content>
</th>