<div class="container my-3">
    <app-shared-header-unrouted [title]="oMetadataService.getName(strOperation + 'of')  + ' ' +  oMetadataService.getName(strEntity + 's').toLowerCase()"
        [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
    </app-shared-header-unrouted>
    <app-tipousuario-detail-admin-unrouted [id]="id"></app-tipousuario-detail-admin-unrouted>
    <app-shared-viewbuttons-unrouted [strEntity]="strEntity" [id]="id" [strProfile]="strProfile"> </app-shared-viewbuttons-unrouted>
</div>