<td class="text-end">{{oUsuario.id}}</td>
<td>{{oUsuario.dni}}</td>
<td>{{oUsuario.nombre}}</td>
<td>{{oUsuario.apellido1}}</td>
<td>{{oUsuario.apellido2}}</td>
<td *ngIf="mode">{{oUsuario.email| trim:18}}</td>

<td style="text-align: center" *ngIf="mode">
  <button *ngIf="!mode || oUsuario.carritos==0" class="btn btn-outline-secondary btn-sm"
    [disabled]="oUsuario?.carritos<=0"> {{ oUsuario.carritos }}
    <i [ngClass]="oMetadataService.getIcon('carrito')"></i>
  </button>
  <button *ngIf="mode && oUsuario.carritos>0" class="btn btn-outline-secondary btn-sm"
    [routerLink]="['/administrador','carrito','plist','usuario',oUsuario.id]">
    {{ oUsuario.carritos }} <i [ngClass]="oMetadataService.getIcon('carrito')"></i>
  </button>
</td>

<td style="text-align: center" *ngIf="mode">
  <button *ngIf="!mode || oUsuario.facturas==0" class="btn btn-outline-secondary btn-sm"> {{ oUsuario.facturas }}
    <i [ngClass]="oMetadataService.getIcon('factura')"></i>
  </button>
  <button *ngIf="mode && oUsuario.facturas>0" class="btn btn-outline-secondary btn-sm"
    [routerLink]="['/administrador','factura','plist','usuario',oUsuario.id]" [disabled]="oUsuario?.facturas<=0">
    {{ oUsuario.facturas }}
    <i [ngClass]="oMetadataService.getIcon('factura')"></i>
  </button>
</td>

<td>
  <button *ngIf="mode" class="btn btn-light btn-sm"
    [routerLink]="['/administrador','usuario','plist','tipousuario',oUsuario.tipousuario.id]">
    <i [ngClass]="oMetadataService.getIcon('usuario')"></i> ({{oUsuario.tipousuario.id}})
    {{oUsuario.tipousuario.nombre}}</button>
  <div *ngIf="!mode"><i [ngClass]="oMetadataService.getIcon('usuario')"></i> {{oUsuario.tipousuario.nombre}}</div>
</td>

<td *ngIf="mode" class="text-center" [innerHTML]="oUsuario.validado | showBoolean"></td>
<td *ngIf="mode" class="text-center" [innerHTML]="oUsuario.activo | showBoolean"></td>

<td class="text-center">
  <ng-content select="[action_column]"></ng-content>
</td>