<form novalidate [formGroup]="oForm" (ngSubmit)="onSubmit()" *ngIf="status==null">

    <div class="row mb-3">
        <label for="id" class="col-sm-2 col-form-label"> <i [ngClass]="oMetadataService.getIcon('id')"></i>
            {{oMetadataService.getName('ID')}}</label>
        <div class="col-sm-1">
            <input class="form-control" type="text" name="id" formControlName="id" id="id" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <label for="dni" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('dni')"></i> {{oMetadataService.getName('dni')}}</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="dni" formControlName="dni"
                [ngClass]="{'is-valid' : f.controls.dni.dirty && !(f.controls.dni.errors?.required || f.controls.dni.errors?.minlength) }">
            <div *ngIf="f.controls.dni.dirty && f.controls.dni.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid DNI')}}
            </div>
            <div *ngIf="f.controls.dni.dirty && f.controls.dni.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid DNI')}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="nombre" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('nombre')"></i> {{oMetadataService.getName('name')}}</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" id="nombre" formControlName="nombre"
                [ngClass]="{'is-valid' : f.controls.nombre.dirty && !(f.controls.nombre.errors?.required || f.controls.nombre.errors?.minlength) }">
            <div *ngIf="f.controls.nombre.dirty && f.controls.nombre.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid name')}}
            </div>
            <div *ngIf="f.controls.nombre.dirty && f.controls.nombre.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid name')}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="apellido1" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('nombre')"></i> {{oMetadataService.getName('apellido1')}}</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="apellido1" formControlName="apellido1"
                [ngClass]="{'is-valid' : f.controls.apellido1.dirty && !(f.controls.apellido1.errors?.required || f.controls.apellido1.errors?.minlength) }">
            <div *ngIf="f.controls.apellido1.dirty && f.controls.apellido1.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid surname')}}
            </div>
            <div *ngIf="f.controls.apellido1.dirty && f.controls.apellido1.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid surname')}}
            </div>
        </div>
    </div>


    <div class="row mb-3">
        <label for="apellido2" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('nombre')"></i> {{oMetadataService.getName('apellido2')}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="apellido2" formControlName="apellido2"
                [ngClass]="{'is-valid' : f.controls.apellido2.dirty && !(f.controls.apellido2.errors?.required || f.controls.apellido2.errors?.minlength) }">
            <div *ngIf="f.controls.apellido2.dirty && f.controls.apellido2.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid lastname')}}
            </div>
            <div *ngIf="f.controls.apellido2.dirty && f.controls.apellido2.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid lastname')}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="login" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('login')"></i> {{oMetadataService.getName('login')}}</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="login" formControlName="login"
                [ngClass]="{'is-valid' : f.controls.login.dirty && !(f.controls.login.errors?.required || f.controls.login.errors?.minlength) }">
            <div *ngIf="f.controls.login.dirty && f.controls.login.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid login')}}
            </div>
            <div *ngIf="f.controls.login.dirty && f.controls.login.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid login')}}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">
            <i [ngClass]="oMetadataService.getIcon('email')"></i> {{oMetadataService.getName('email')}}</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="email" formControlName="email"
                [ngClass]="{'is-valid' : f.controls.email.dirty && !(f.controls.email.errors?.required || f.controls.email.errors?.minlength) }">
            <div *ngIf="f.controls.email.dirty && f.controls.email.errors?.required" class="text-danger">
                {{oMetadataService.getName('mandatory')}}: {{oMetadataService.getName('you must set a valid email')}}
            </div>
            <div *ngIf="f.controls.email.dirty && f.controls.email.errors?.minlength" class="text-danger">
                {{oMetadataService.getName('tooShort')}}: {{oMetadataService.getName('you must set a valid email')}}
            </div>
        </div>
    </div>

    <div class="row mb-3" app-shared-find-unrouted [entity]="'tipousuario'" [id]="oData2Show?.tipousuario.id"
        [description]="oData2Show?.tipousuario.nombre" (selection)="onFindSelection($event)">
        <div plist-finder-title>
            <h4 class="text-center">{{oMetadataService.getName('selectionHelp') + ' ' +
                oMetadataService.getName('atipousuario')}}</h4>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
            <button type="submit" class="btn btn-warning" [disabled]="f.invalid || f.pristine"><i
                    [ngClass]="oMetadataService.getIcon('ok')"></i> {{oMetadataService.getName('save') + ' ' +
                oMetadataService.getName('the' + strEntity).toLowerCase()}}</button>
        </div>
    </div>

</form>

<div *ngIf="status!=null">
    <div class="row justify-content-center">
        <div class="col-md text-center">
            <h6 class="text-danger">{{oMetadataService.getName('Component ERROR: please contact administrator')}}</h6>
            <h6 class="text-danger">{{oMetadataService.getName('Message: ')}} {{ status.status + "(" + status.statusText
                + ") " +
                status.message}}</h6>
        </div>
    </div>
</div>