<table class="table table-striped">
  <tbody>
      <tr>
          <th> <i [ngClass]="oIconService.getIcon('id')"></i> ID</th>
          <td>{{oFactura?.id}}</td>
      </tr>
      <tr>
          <th> <i [ngClass]="oIconService.getIcon('porcentaje')"></i> Iva</th>
          <td>{{oFactura?.iva}}</td>
      </tr>
      <tr>
          <th><i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario</th>
          <td>{{oFactura?.usuario.nombre}} {{oFactura?.usuario.apellido1}} {{oFactura?.usuario.apellido2}}</td>
      </tr>
      <tr>
          <th> <i [ngClass]="oIconService.getIcon('fecha')"></i> Fecha</th>
          <td>{{oFactura?.fecha | date: 'dd/MM/yyyy' }}</td>
      </tr>
     
      <tr>
          <th><i [ngClass]="oIconService.getIcon('pagado')"></i> Pagado</th>
          <td [innerHTML]="oFactura?.pagado | showBoolean"></td>
      </tr>
  </tbody>
</table>


