<!-- 
<td class="text-end">{{ oCarrito.id }}</td>
-->
<td><img [src]="strAPI_URL + '/file/' + oCarrito.producto.imagen" style="height:60px" /></td>
<td>
  <button class="btn btn-light" style="text-align: start;" [routerLink]="['/carrito/plist/producto/' + oCarrito.producto.id]">
    <i [ngClass]="oIconService.getIcon('producto')"></i> {{ oCarrito.producto.nombre | trim
    :60}}<br>
    Código: {{ oCarrito.producto.codigo }}<br>
      Descuento: {{ oCarrito.producto.descuento }}%
  </button>
</td>
<td class="text-center" style="font-size: 25px;">{{ oCarrito.cantidad }}</td>
<td class="text-end" style="font-size: 20px;">{{ oCarrito.producto.precio|number: '1.2-2':'es-ES' }} €</td>
<td class="text-end" style="font-size: 20px;">{{ 0.21 * oCarrito.cantidad * oCarrito.producto.precio|number: '1.2-2':'es-ES' }} €</td>
<td class="text-end" style="font-size: 20px;">{{ (oCarrito.cantidad * oCarrito.producto.precio) + (oCarrito.cantidad * oCarrito.producto.precio * 0.21) |number: '1.2-2':'es-ES' }} €</td>

<!--
<td>
  <button class="btn btn-light btn-sm" [routerLink]="['/carrito/plist/usuario/' + oCarrito.usuario.id]">
    <i [ngClass]="oIconService.getIcon('usuario')"></i> ({{ oCarrito.usuario.id }}) {{ oCarrito.usuario.nombre + "
    " + oCarrito.usuario.apellido1 + " " + oCarrito.usuario.apellido2 | trim:50 }}
  </button>
</td>
-->

<td class="text-center">
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-success" [routerLink]="['/producto/cview/' + oCarrito.producto.id]">
      <i [ngClass]="oIconService.getIcon('view')"></i>
    </button>

    <button type="button" class="btn btn-danger"  (click)="doRemoveProducto(oCarrito.producto.id)">
      <i [ngClass]="oIconService.getIcon('remove')"></i>
    </button>
  </div>
</td>