<div class="container my-3">
    <app-shared-header-unrouted [title]="oMetadataService.getName('comments list')"
        [icon]="oMetadataService.getIcon(strOperation)" [iconEntity]="oMetadataService.getIcon(this.strEntity)">
    </app-shared-header-unrouted>
    <app-comment-plist-admin-unrouted [id_usuario]="id_usuario" [id_producto]="id_producto">
        <header>
            <a [routerLink]="['/administrador',strEntity,'new']" type="button" class="btn btn-success mb-2">
                <i class="fas fa-plus"></i> {{oMetadataService.getName('go to ' + strEntity + ' creation' )}}
            </a>
        </header>
    </app-comment-plist-admin-unrouted>
</div>