<div class="row justify-content-center">
  <div class="card p-5 m-5" style="background-color: lightgray">
    <div class="row">
      <div class="col text-end">
        <i [ngClass]="oMetadataService.getIcon('usuario')" class="img-fluid mx-5 p-2" style="font-size: 15rem"></i>
      </div>
      <div class="col">
        <h1 class="price"><span class="badge bg-danger">{{oUsuario?.login}}</span></h1>
        <h1>{{oUsuario?.nombre}} {{oUsuario?.apellido1}} {{oUsuario?.apellido2}}</h1>
        <h3 class="text-muted"><span>{{oUsuario?.email}}</span></h3>
        <h6><small class="text-muted">{{oMetadataService.getName('dni')}}: {{oUsuario?.dni}}</small></h6>
        <p class="flex-grow-1" style="font-size: 0.95rem; font-style: italic;">
          {{oMetadataService.getName('profile')}}: {{oUsuario?.tipousuario.nombre}}</p>
        <p class="flex-grow-1" style="font-size: 0.95rem; font-style: italic;">
          {{oMetadataService.getName('currentDescuento')}}: {{oUsuario?.descuento}}%</p>
      </div>
    </div>
  </div>
</div>