<div class="card-header">
  <div class="d-flex justify-content-between">
    <div style="text-align: left;font-size: large;">

      <i [ngClass]="oMetadataService.getIcon('usuario')"></i>
      <!-- ({{oComment.usuario.id}}) -->
      {{oComment.usuario.nombre | trim:40}}
      <span *ngIf="!mode">{{oComment.usuario.nombre | trim:40}}</span>
    </div>
    <div style="text-align: right;">
      <i [ngClass]="oMetadataService.getIcon('creation')"></i>
      {{oComment.creation | date: 'dd/MM/yyyy HH:mm'}}
    </div>
  </div>
</div>

<div class="card-body">
  <div class="p-3">
    <i [ngClass]="oMetadataService.getIcon('comment')"></i>
    {{oComment.comment}}
  </div>
</div>