<app-menu></app-menu>

<div class="container my-3">


  <app-header [title]="'Edición de ' + strTitleSingular" [icon]="oIconService.getIcon(this.strOperation)"
    [iconEntity]="oIconService.getIcon(this.strEntity)">
  </app-header>

  <div class="row justify-content-center">
    <app-factura-form-unrouted [strOperation]="strOperation" [id]="id" (msg)="reportResult($event)">
    </app-factura-form-unrouted>

    <div class="control-group text-center mt-5">
      <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center">
        <a class="btn btn-primary mx-2" [routerLink]="['/home']"><i class="fas fa-home"></i> Página principal</a>
        <a class="btn btn-primary mx-2" [routerLink]="['/factura/plist']"><i class="fas fa-file-alt"></i> Listado de
          {{strTitlePlural}}</a>
        <a class="btn btn-primary mx-2" (click)="goBack()"><i class="fas fa-arrow-circle-left"></i> Volver
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>



<app-popup [show]="eventsSubjectShowPopup.asObservable()" [body]="strResult" (close)="onClosePopup()" [size]="'sm'">
</app-popup>