<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="assets/img/wildCartLogo100.png" width="30"> {{oMetadataService.getName('wildCART')}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page"
                            [routerLink]="['/home']"><i [ngClass]="oMetadataService.getIcon('home') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/usuario/plist'"
                            [routerLink]="['/administrador','usuario','plist']"><i
                                [ngClass]="oMetadataService.getIcon('usuario') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/tipousuario/plist'"
                            [routerLink]="['/administrador','tipousuario','plist']"><i
                                [ngClass]="oMetadataService.getIcon('tipousuario') + ' fa-2x'"></i> </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/producto/plist'"
                            [routerLink]="['/administrador','producto','plist']"><i
                                [ngClass]="oMetadataService.getIcon('producto') + ' fa-2x'"></i></a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/tipoproducto/plist'"
                            [routerLink]="['/administrador','tipoproducto','plist']"><i
                                [ngClass]="oMetadataService.getIcon('tipoproducto') + ' fa-2x'"></i> </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/compra/plist'"
                            [routerLink]="['/administrador','compra','plist']"><i
                                [ngClass]="oMetadataService.getIcon('compra') + ' fa-2x'"></i> </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/factura/plist'"
                            [routerLink]="['/administrador','factura','plist']"><i
                                [ngClass]="oMetadataService.getIcon('factura') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>

                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==2">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/usuario/factura/plist'"
                            [routerLink]="['/usuario','factura','plist']"><i
                                [ngClass]="oMetadataService.getIcon('factura') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>

                <span class="navbar-item mx-1" *ngIf="oUsuarioSession?.tipousuario.id==2">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/usuario/carrito/cplist'"
                            [routerLink]="['/usuario','carrito','cplist']">
                            <i [ngClass]="oMetadataService.getIcon('carrito') + ' fa-2x'" pBadge value="{{nCarritos}}"></i>
                        </a>
                    </small>
                </span>
    

                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/random/load'"
                            [routerLink]="['/administrador','random','load']"><i
                                [ngClass]="oMetadataService.getIcon('random') + ' fa-2x'"></i> </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/reports'"
                            [routerLink]="['/administrador','reports']"><i
                                [ngClass]="oMetadataService.getIcon('report') + ' fa-2x'"></i> </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/carrito/plist'"
                            [routerLink]="['/administrador','carrito','plist']"><i
                                [ngClass]="oMetadataService.getIcon('carrito') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>
                <li class="nav-item" *ngIf="oUsuarioSession?.tipousuario.id==1">
                    <small>
                        <a class="nav-link" [class.active]="strUrl=='/administrador/comment/plist'"
                            [routerLink]="['/administrador','comment','plist']"><i
                                [ngClass]="oMetadataService.getIcon('comment') + ' fa-2x'"></i>
                        </a>
                    </small>
                </li>
            </ul>

            <span class="navbar-text mx-1" *ngIf="oUsuarioSession">
                <small>
                    Usuario: {{oUsuarioSession.login + " (rol " + oUsuarioSession.tipousuario.nombre + ")"}}
                </small>
            </span>

            <span class="navbar-text mx-1" *ngIf="oUsuarioSession?.tipousuario.id==1">
                <small>
                    <a class="nav-link" [class.active]="strUrl=='/administrador/usuario/view/' + oUsuarioSession.id"
                        [routerLink]="['/administrador','usuario','view',oUsuarioSession.id]">
                        <i [ngClass]="oMetadataService.getIcon('usuario') + ' fa-2x'"> </i>
                    </a>
                </small>
            </span>

            <span class="navbar-text mx-1" *ngIf="oUsuarioSession?.tipousuario.id==2">
                <small>
                    <a class="nav-link" [class.active]="strUrl=='/usuario/usuario/cview/' + oUsuarioSession.id"
                        [routerLink]="['/usuario','usuario','cview',oUsuarioSession.id]">
                        <i [ngClass]="oMetadataService.getIcon('usuario') + ' fa-2x'"> </i>
                    </a>
                </small>
            </span>

            <span class="navbar-text mx-1" *ngIf="!oUsuarioSession">
                <small>
                    <a class="nav-link" [class.active]="strUrl=='/login'" [routerLink]="['/login']">
                        <i [ngClass]="oMetadataService.getIcon('login') + ' fa-2x'"></i>
                    </a>
                </small>
            </span>

            <span class="navbar-text mx-1" *ngIf="oUsuarioSession">
                <small>
                    <a class="nav-link" [class.active]="strUrl=='/logout'" [routerLink]="['/logout']">
                        <i [ngClass]="oMetadataService.getIcon('logout') + ' fa-2x'"></i>
                    </a>
                </small>
            </span>

        </div>
    </div>
</nav>