.card {

	background-color: #fff;
	border: none;
	border-radius: 10px;
	width: 250px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 15px;
	padding: 7px;

}

.nombreproducto, .nombreproducto:link, .nombreproducto.visited, .nombreproducto:active {
	text-decoration: none;
}

