<label for="id_usuario" class="col-sm-2 col-form-label">
  <i [ngClass]="oIconService.getIcon('usuario')"></i> Usuario</label>
<div class="col-sm-6">
  <div class="input-group has-validation">
    <span class="input-group-text">{{description}}</span>
    <input type="number" class="form-control" id="id_usuario" formControlName="id_usuario"
      (ngModelChange)="onChangeUsuario($event)" [ngClass]="{'is-valid':dirty && (description!='ERROR'),
      'is-invalid':dirty && (description=='ERROR')}" />
    <button type="button" class="btn btn-success" (click)="openModal()">
      Buscar usuario
    </button>            
  </div>
</div>

<app-modal [show]="eventsSubjectShowModal.asObservable()" [size]="'xl'" [hide]="eventsSubjectHideModal.asObservable()"
  (close)="onCloseModal()">
  <app-usuario-plist-unrouted [id_tipousuario]="null" [mode]="false" (selection)="onSelection($event)">
    <header></header>
  </app-usuario-plist-unrouted>
</app-modal>
