<div class="row justify-content-center">
    <div class="d-grid gap-2 d-md-block mt-3 d-md-flex justify-content-md-center mt-5">
        <a class="btn btn-warning mx-2" [routerLink]="['/',strProfile,strEntity,'edit',id]"><i
                [ngClass]="oMetadataService.getIcon('edit')"></i> {{oMetadataService.getName('go to ' + strEntity + '
            edition' )}}</a>
        <a class="btn btn-danger mx-2" [routerLink]="['/',strProfile,strEntity,'remove',id]"><i
                [ngClass]="oMetadataService.getIcon('remove')"></i> {{oMetadataService.getName('go to ' + strEntity + '
            removal' )}}</a>
    </div>
    <app-shared-footerbuttons-unrouted [strEntity]="strEntity"></app-shared-footerbuttons-unrouted>
</div>