<th (click)="doSetOrder('id')"><i [ngClass]="oMetadataService.getIcon('id')"></i> {{oMetadataService.getName('ID')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='id'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='id'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('login')">
  <i [ngClass]="oMetadataService.getIcon('login')"></i> {{oMetadataService.getName('login')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='dni'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='dni'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('dni')">
  <i [ngClass]="oMetadataService.getIcon('dni')"></i> {{oMetadataService.getName('dni')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='dni'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='dni'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('nombre')">
  <i [ngClass]="oMetadataService.getIcon('nombre')"></i> {{oMetadataService.getName('nombre')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='nombre'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='nombre'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('apellido1')">
  <i [ngClass]="oMetadataService.getIcon('apellido1')"></i> {{oMetadataService.getName('apellido1')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='apellido1'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='apellido1'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('apellido2')">
  <i [ngClass]="oMetadataService.getIcon('apellido2')"></i> {{oMetadataService.getName('apellido2')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='apellido2'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='apellido2'&&strSortDirection=='desc'"></i>
</th>
<th (click)="doSetOrder('email')" *ngIf="mode">
  <i [ngClass]="oMetadataService.getIcon('email')"></i> {{oMetadataService.getName('email')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='email'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')" *ngIf="strSortField=='email'&&strSortDirection=='desc'"></i>
</th>
<th *ngIf="mode"><i [ngClass]="oMetadataService.getIcon('carrito')"></i> {{oMetadataService.getName('cart products')}}</th>
<th *ngIf="mode"><i [ngClass]="oMetadataService.getIcon('factura')"></i> {{oMetadataService.getName('facturas')}}</th>
<th *ngIf="mode"><i [ngClass]="oMetadataService.getIcon('comment')"></i> {{oMetadataService.getName('comments')}}</th>
<th (click)="doSetOrder('tipousuario')"><i [ngClass]="oMetadataService.getIcon('tipousuario')"></i>
  {{oMetadataService.getName('tipousuario')}}
  <i [ngClass]="oMetadataService.getIcon('orderUp')" *ngIf="strSortField=='tipousuario'&&strSortDirection=='asc'"></i>
  <i [ngClass]="oMetadataService.getIcon('orderDown')"
    *ngIf="strSortField=='tipousuario'&&strSortDirection=='desc'"></i>
</th>
<th *ngIf="mode"><i [ngClass]="oMetadataService.getIcon('validado')"></i> {{oMetadataService.getName('validado')}}</th>
<th *ngIf="mode"><i [ngClass]="oMetadataService.getIcon('activado')"></i> {{oMetadataService.getName('activo')}}</th>
<th>
  <ng-content select="[action_column_title]"></ng-content>
</th>